@use ".././utils/palette" as palette;
@use ".././utils/utils" as utils;
@use ".././utils/responsive" as responsive;

.user
{
    width: 100%;
    display: flex;
    flex-direction: column;

    .statistics
    {
        display: flex;
        gap: 20px;
        @include responsive.lessThan(md)
        {
            flex-direction: column;
        }

        &__item
        {
            background: palette.background(2);
            border-radius: 8px;
            padding: 20px;
            flex: 1 1 calc(25% - 20px);
            min-width: 200px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .statistics__value
            {
                img
                {
                    width:40px;
                }
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .statistics__label
            {
                font-size: 1.2rem;
                color: #888;
            }
        }
    }


    .header
    {
        background: palette.blue(3);
        padding: 20px;

        &__banner
        {
            @include utils.flex-row(20px);

            .header__avatar
            {
                img
                {
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                }
            }

            .header__info
            {
                display: flex;
                flex-direction: column;

                .header__username
                {
                    font-size: 1.6rem;
                }

                .header__joined
                {
                    font-size: 1.2rem;
                }
            }
        }
    }
}