@use "Utils/palette" as palette;
@use "Misc/misc" as misc;

@use "Pages/user";
@use "Pages/login";

@font-face
{
    font-family: "m6x11";
    src: url("../assets/fonts/m6x11.ttf");
}

a {
    color: inherit;
    text-decoration: none;
}

*
{
    font-family: "m6x11";
    box-sizing:border-box
}

body
{
    background-color: palette.black();
    color: palette.white();
    @include misc.flex-column(8px);
}


%site-section
{
    background-color: palette.black(2);
    padding: 10px;
    min-height: 30px;
    width: 100%;
    max-width: 900px;
    @include misc.rounded(1);
}

.header
{
    @extend %site-section;
    padding-block: 0px;
    @include misc.flex-row();
    justify-content: space-between;
    &__section
    {
        @include misc.flex-row(5px);
        button
        {

        }
    }
}


main
{
    @extend %site-section;
    min-height: 325px;
}

footer
{
    @extend %site-section;
    padding-block: 0px;
}



.runs
{
    @include misc.flex-row(20px);
    justify-content: start;
    &__card
    {
        height: 100px;
        width: 150px;
        background-color: palette.black(3);
        @include misc.rounded(2);
        @include misc.padding(2);
        p
        {
            margin: 0px;
        }
    }
}

.access-screen
{
    width: 100%;
    @include misc.flex-column();

    a {p
    {
        margin: 5px;
        font-size: x-small;
    }}
    
    form
    {
        width: 50%; 
        @include misc.flex-column(10px);
    }
}