@use "Utils/palette" as palette;
@use "Misc/misc" as misc;


@font-face
{
    font-family: "m6x11";
    src: url("./m6x11.ttf");
}

*
{
    font-family: "m6x11";
    box-sizing:border-box
}

body
{
    background-color: palette.background();
    color: palette.white();
    @include misc.flex-column(8px);
}


%site-section
{
    background-color: palette.black();
    padding: 10px;
    min-height: 30px;
    width: 100%;
    max-width: 900px;
    @include misc.rounded(1);
}

.header
{
    @extend %site-section;
    padding-block: 0px;
    @include misc.flex-row();
    justify-content: space-between;
    &__section
    {
        @include misc.flex-row(5px);
        button
        {

        }
    }
}


main
{
    @extend %site-section;
    min-height: 325px;
}

footer
{
    @extend %site-section;
    padding-block: 0px;
}



.runs
{
    background-color: palette.red();
    &__card
    {
        background-color: palette.red(3);
    }
}