@use "Utils/palette" as palette;
@use "Misc/misc" as misc;

@use "Pages/user";
@use "Pages/login";
@use "Pages/notfound";
@use "Pages/new";
@use "Pages/run";

@font-face
{
    font-family: "m6x11";
    src: url("../assets/fonts/m6x11.ttf");
}

a {
    color: inherit;
    text-decoration: none;
}

*
{
    font-family: "m6x11";
    box-sizing: border-box
}

body
{
    background-color: palette.background();
    color: palette.white();
    @include misc.flex-column(16px);
    width: 100%;
}


%site-section
{
    background-color: palette.background(2);
    padding: 10px;
    min-height: 30px;
    @include misc.rounded(1);
    max-width: 1200px;
}

.header
{
    width: 100%;
    @extend %site-section;
    padding-block: 0px;
    @include misc.flex-row();
    justify-content: space-between;
    &__section
    {
        @include misc.flex-row(15px);
        &__logo
        {
            @include misc.rounded(2);
            height: 64px;
        }
    }
    &__logo-text
    {
        font-size: xx-large;
        color: palette.white();
    }
    min-height: 90px;
    max-width: 1200px;
}

footer
{
    width: 100%;
    @extend %site-section;
    padding-block: 0px;
    max-width: 1200px;
}

$button-variants:
(
    blue:  (palette.blue(1),  palette.blue(3)),
    red:   (palette.red(1),   palette.red(3)),
    green: (palette.green(1), palette.green(3)),
    black: (palette.black(1), #2F2F34)
);

button
{
    font-size: x-large;
    @include misc.padding(2);
    outline: none;
    border: none;
    @include misc.rounded(1);
    transition-duration: .4s;
}
.button
{
    @each $name, $colors in $button-variants
    {
        &--#{$name}
        {
            @if $name == black 
            {
                color: white;
            }

            background-color: nth($colors, 1);

            &:hover 
            {
                background-color: nth($colors, 2);
            }
        }
    }
}

.user-badge
{
    @include misc.flex-row(5px);
    &__avatar
    {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    &__name
    {

    }
}

main
{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 15% 60% 25%;
}

@mixin sidebar-item($height)
{
    background-color: palette.background(2);
    @include misc.rounded(2);
    height: $height;
    width: 100%;
}

.navigation
{
    @include misc.flex-column(15px);
    justify-content: start;
    margin-right: 15px;
    &__item
    {
        &--filter
        {
            @include sidebar-item(200px);
        }
    }
}


.stats
{
    @include misc.flex-column(15px);
    justify-content: start;
    margin-left: 15px;
    &__item
    {
        &--jokers
        {
            @include sidebar-item(350px);
        }
    }
}

.runs
{
    @include misc.flex-column(20px);
    justify-content: start;
    &__card
    {
        height: 175px;
        width: 100%;
        background-color: palette.background(2);
        @include misc.rounded(2);
        @include misc.padding(2);
        p
        {
            margin: 0px;
        }
    }
}

.comments
{
    @include misc.flex-row(20px);
    justify-content: start;
    &__comment
    {
        height: 100px;
        width: 100%;
        background-color: palette.black(3);
        @include misc.rounded(2);
        @include misc.padding(2);
        p
        {
            margin: 0px;
        }
    }
}

.access-screen
{
    width: 100%;
    @include misc.flex-column();

    a {p
    {
        margin: 5px;
        font-size: x-small;
    }}
    
    form
    {
        width: 50%; 
        @include misc.flex-column(10px);
    }
}