/*
Website palette

Uses function for static colors just to remain consistent
*/
.user {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user .statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.user .statistics__item {
  background: #262D34;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(25% - 20px);
  min-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user .statistics__item .statistics__value {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.user .statistics__item .statistics__value img {
  width: 40px;
}
.user .statistics__item .statistics__label {
  font-size: 1.2rem;
  color: #888;
}
.user .header {
  background: #009cfd;
  padding: 20px;
}
.user .header__banner {
  display: flex;
  align-items: center;
}
.user .header__banner .header__avatar {
  margin-right: 20px;
}
.user .header__banner .header__avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user .header__banner .header__info {
  display: flex;
  flex-direction: column;
}
.user .header__banner .header__info .header__username {
  font-size: 1.8rem;
}
.user .header__banner .header__info .header__joined {
  font-size: 1.3rem;
}

.not-found {
  width: 100%;
  height: 100%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.not-found__image {
  max-width: 150px;
}
.not-found__title {
  font-size: 5rem;
  margin: 25px;
}

.run {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.run__header {
  width: 100%;
  padding: 1.2rem;
  background-color: #fd5f54;
  border-radius: 10px;
  color: white;
}
.run__stat {
  width: 100%;
  height: 75px;
  padding: 1.2rem;
  background-color: #e6eff7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
}
.run__stat__title {
  color: rgb(52, 52, 52);
  font-size: xx-large;
}
.run__stat__value {
  padding: 1.2rem;
  background-color: #1E252B;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-size: xx-large;
}
.run__stats {
  padding: 1.2rem;
  background-color: #262D34;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.run__title {
  font-size: 2rem;
  margin: 0 0 0.5rem;
}
.run__comments {
  padding: 1.2rem;
  background-color: #262D34;
  border-radius: 10px;
  width: 100%;
}
.run__comments__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}
.run__comments__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}
.run__comments__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.run__comments__text-input {
  flex: 1;
  font-size: 1rem;
  padding: 1.2rem;
  background-color: #444b5f;
  border-radius: 10px;
  padding: 0.7rem;
  color: #fff;
  border: none;
}
.run__comments__submit {
  font-size: medium;
}
.run__comments__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.run__comments__comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.menu {
  width: 100%;
}
.menu__item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  transition: background-color 0.15s ease;
  cursor: pointer;
}
.menu__item--active, .menu__item:hover {
  background-color: #444b5f;
}
.menu__icon {
  font-size: x-large;
  margin-right: 15px;
}
.menu__icon img {
  width: 45px;
  border-radius: 10px;
}
.menu__title {
  font-size: 20px;
  margin: 0px;
}

.user-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-items: start;
  justify-content: start;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.user-badge__avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.user-badge__username {
  font-size: 1em;
}
.user-badge__date {
  font-size: 0.8em;
  color: rgb(227, 242, 255);
}
.user-badge__metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  align-items: start;
}
.user-badge:hover {
  background-color: rgba(222, 222, 222, 0.3568627451);
}

::-moz-selection {
  color: white;
  background: lightblue;
}

::selection {
  color: white;
  background: lightblue;
}

@font-face {
  font-family: "m6x11";
  src: url("../assets/fonts/m6x11.ttf");
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "m6x11";
  box-sizing: border-box;
}

body {
  background-color: #1E252B;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.header {
  background-color: #262D34;
  padding: 10px;
  min-height: 30px;
  border-radius: 10px;
  max-width: 1400px;
}

.header {
  width: 100%;
  padding-block: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  min-height: 90px;
  max-width: 1400px;
}
.header__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header__section__logo {
  border-radius: 15px;
  height: 64px;
}
.header__logo-text {
  font-size: xx-large;
  color: #ffffff;
}

button {
  font-size: x-large;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.button--blue {
  background-color: #3cb4ff;
}
.button--blue:hover {
  background-color: #008ae2;
}
.button--red {
  background-color: #fe938e;
}
.button--red:hover {
  background-color: #c1413a;
}
.button--green {
  background-color: #76cba9;
}
.button--green:hover {
  background-color: #459374;
}
.button--black {
  color: white;
  background-color: #121214;
}
.button--black:hover {
  background-color: #2F2F34;
}

main {
  width: 100%;
  max-width: 1400px;
}

.main-page {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: start;
  margin-right: 15px;
}
.navigation__item--filter {
  background-color: #262D34;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: start;
  margin-left: 15px;
}
.stats__item {
  width: 100%;
  background-color: #262D34;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 10px;
}
.stats__stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  width: 100%;
}

.runs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: start;
}
.runs__card {
  height: 175px;
  width: 100%;
  background-color: #262D34;
  border-radius: 15px;
  padding: 13px;
}
.runs__card p {
  margin: 0px;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: start;
}
.comments__comment {
  height: 100px;
  width: 100%;
  background-color: #2C353D;
  border-radius: 15px;
  padding: 13px;
}
.comments__comment p {
  margin: 0px;
}

.access-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.access-screen a p {
  margin: 5px;
  font-size: x-small;
}
.access-screen form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */