/*
Website palette

Uses function for static colors just to remain consistent
*/
/*

Misc classes

*/
.user {
  background-color: red;
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.not-found h2 {
  margin: 0;
}

.menu {
  width: 100%;
}
.menu__item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  transition: background-color 0.15s ease;
  cursor: pointer;
}
.menu__item--active, .menu__item:hover {
  background-color: #444b5f;
}
.menu__icon {
  font-size: x-large;
  margin-right: 15px;
}
.menu__icon img {
  width: 45px;
  border-radius: 10px;
}
.menu__title {
  font-size: 20px;
  margin: 0px;
}

::-moz-selection {
  color: white;
  background: lightblue;
}

::selection {
  color: white;
  background: lightblue;
}

@font-face {
  font-family: "m6x11";
  src: url("../assets/fonts/m6x11.ttf");
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "m6x11";
  box-sizing: border-box;
}

body {
  background-color: #1E252B;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.header {
  background-color: #262D34;
  padding: 10px;
  min-height: 30px;
  border-radius: 10px;
  max-width: 1400px;
}

.header {
  width: 100%;
  padding-block: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  min-height: 90px;
  max-width: 1400px;
}
.header__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header__section__logo {
  border-radius: 15px;
  height: 64px;
}
.header__logo-text {
  font-size: xx-large;
  color: #ffffff;
}

button {
  font-size: x-large;
  padding: 13px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.button--blue {
  background-color: #3cb4ff;
}
.button--blue:hover {
  background-color: #008ae2;
}
.button--red {
  background-color: #fe938e;
}
.button--red:hover {
  background-color: #c1413a;
}
.button--green {
  background-color: #76cba9;
}
.button--green:hover {
  background-color: #459374;
}
.button--black {
  color: white;
  background-color: #121214;
}
.button--black:hover {
  background-color: #2F2F34;
}

.user-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.user-badge__avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
main {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: start;
  margin-right: 15px;
}
.navigation__item--filter {
  background-color: #262D34;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  justify-content: start;
  margin-left: 15px;
}
.stats__item {
  width: 100%;
  background-color: #262D34;
  border-radius: 15px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 10px;
}
.stats__stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: start;
  width: 100%;
}

.runs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: start;
}
.runs__card {
  height: 175px;
  width: 100%;
  background-color: #262D34;
  border-radius: 15px;
  padding: 13px;
}
.runs__card p {
  margin: 0px;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: start;
}
.comments__comment {
  height: 100px;
  width: 100%;
  background-color: #2C353D;
  border-radius: 15px;
  padding: 13px;
}
.comments__comment p {
  margin: 0px;
}

.access-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.access-screen a p {
  margin: 5px;
  font-size: x-small;
}
.access-screen form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */