@use ".././utils/palette" as palette;
@use ".././utils/utils" as utils;
@use ".././utils/responsive" as responsive;

.main-page
{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 55% calc(25% - 32px);
    gap: 16px;
    @include responsive.lessThan(lg)
    {
        @include utils.flex-column(16px);
    }
}

@mixin sidebar-item($height)
{
    background-color: palette.background(2);
    @include utils.rounded(2);
    height: $height;
    padding: 10px;
}

.navigation
{
    @include utils.flex-column(15px);
    @include sidebar-item(fit-content);
}

.stats
{
    @include utils.flex-column(15px);
    &__title
    {
        align-self: start;
        font-size: 1.5em;
        padding: 15px;
    }
    @include sidebar-item(fit-content);
    @include responsive.hideLessThan(lg);
}
