
/*
Website palette

Uses function for static colors just to remain consistent
*/

@function white()
{
    @return #ffffff;
}

@function background($shade: 1)
{
    $shade: max(1, min($shade, 3));
    $background: map-get((
        1 : #10141F,
        2: #151D28,
        3: #202E37
    ), $shade);
    /* 
        alternate
        1 : #1E252B,
        2: #262D34,
        3: #444b5f
     */
    @return $background;
}

@function black($shade: 1)
{
    $shade: max(1, min($shade, 3));
    $black: map-get((
        1 : #121214,
        2: #18181B,
        3: #2C353D
    ), $shade);
    @return $black;
}


@function red($shade: 2)
{
    $shade: max(1, min($shade, 3));
    $red: map-get((
        1 : #fe938e,
        2 : #fd5f54,
        3 : #c1413a

    ), $shade);
    @return $red;
}

@function green($shade: 2)
{
    $shade: max(1, min($shade, 3));
    $green: map-get((
        1 : #76cba9,
        2 : #56a785,
        3 : #459374

    ), $shade);
    @return $green;
}

@function orange($shade: 2)
{
    $shade: max(1, min($shade, 3));
    $yellow: map-get((
        1 : #fda300,
        2 : #e99701,
        3 : #c98000

    ), $shade);
    @return $yellow;
}

@function blue($shade: 2)
{
    $shade: max(1, min($shade, 3));
    $blue: map-get((
        1 : #3cb4ff,
        2 : #009cfd,
        3 : #008ae2

    ), $shade);
    @return $blue;
}