$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

@mixin lessThan($breakpoint)
{
    $breakpoints: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl
    );

@media screen and (max-width: map-get($breakpoints, $breakpoint))
{
    @content;
}
}

@mixin hideLessThan($breakpoint)
{
    @include lessThan($breakpoint)
    {
        display: none;
    }
}