@use "./palette" as palette;
@use "../utils/utils" as utils;

$bg-color: #1e1e2f;
$bg-item: #2b2b3c;
$bg-hover: #3c3c5e;
$text-color: white;
$text-secondary: #b0b0c3;
$badge-color: #ff5722;

.menu
{
    width: 100%;
    &__item
    {
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin: 10px 0;
        padding: 15px;
        transition: background-color 0.15s ease;
        cursor: pointer;

        &--active,
        &:hover
        {
            background-color: palette.background(3);
        }
    }

    &__icon
    {
        font-size: x-large;
        margin-right: 15px;
        img
        {
            width: 45px;
            @include utils.rounded(1);
        }
    }

    &__title
    {
        font-size: 20px;
        margin: 0px;
    }
}

.user-badge
{
    @include utils.flex-row(5px);
    align-items: start;
    justify-content: start;
    width: fit-content;
    padding: .2rem;
    &__avatar
    {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    &__username
    {
        font-size: 1em;
    }
    &__date
    {
        font-size: .8em;
        color: rgb(227, 242, 255)
    }
    &__metadata
    {
        @include utils.flex-column(2px);
        align-items: start;
    }
    @include utils.rounded(1);
    @include utils.hover-effect();
}

::-moz-selection
{
    color: white;
    background: lightblue;
}

::selection
{
    color: white;
    background: lightblue;
}