@use "../utils/utils" as utils;
@use "../utils/palette" as palette;
@use "../utils/responsive" as r;

@font-face
{
    font-family: "m6x11";
    src: url("../assets/fonts/m6x11.ttf");
}

a
{
    color: inherit;
    text-decoration: none;
}

*
{
    font-family: "m6x11";
    box-sizing: border-box
}

body
{
    background-color: palette.background();
    color: palette.white();
    max-width: 100%;
    @include utils.flex-column(16px);
}


::-moz-selection
{
    color: white;
    background: lightblue;
}

::selection
{
    color: white;
    background: lightblue;
}


.header
{
    width: 100%;
    @include utils.box(palette.background(2));
    padding-block: 0px;
    @include utils.flex-row();
    justify-content: space-between;

    &__section
    {
        @include utils.flex-row(15px);

        &__logo
        {
            @include utils.rounded(2);
            height: 48px;
        }
    }

    .user-badge__name
    {
        @include r.hideLessThan(sm);
    }

    &__logo-text
    {
        font-size: x-large;
        color: palette.white();

        @include r.hideLessThan(lg);
    }

    &__button
    {
        span
        {
            @include r.hideLessThan(lg);
        }
        i
        {
            display: none;
            @include r.lessThan(lg)
            {
                display: block;
            };
        }
    }

    min-height: 90px;
}

main
{
    width: 100%;
}

.app
{
    @include utils.flex-column(16px);
    max-width: 1400px;
    width: 100%;
}