@use "Utils/palette" as palette;


@font-face {
    font-family: "m6x11";
    src: url("./m6x11.ttf");
}

* {
    font-family: "m6x11";
}

body {
    background-color: palette.background();
    color: palette.white();
}